<ion-content>
  <ion-item href="https://www.linkedin.com/in/rhettharrison/">
    <ion-icon name="logo-linkedin"></ion-icon>
    <ion-label>Connect with me on LinkedIn</ion-label>
  </ion-item>
  <ion-item href="https://www.instagram.com/rhettharrison21/">
    <ion-icon name="logo-instagram"></ion-icon>
    <ion-label>Follow me on Instagram</ion-label>
  </ion-item>
  <ion-item href="https://www.github.com/reharri7/">
    <ion-icon name="logo-github"></ion-icon>
    <ion-label>Follow me on GitHub</ion-label>
  </ion-item>
  <ion-item href="https://ref.thepourover.org/a1ce3227/">
    <ion-label>Subscribe to The Pour Over newsletter</ion-label>
  </ion-item>
  <ion-item href="https://share.acorns.com/zones/friend_landing_experience_microsite?extole_share_channel=SHARE_LINK&extole_shareable_code=rhettharrison2016&cro-test=true">
    <ion-label>Redeem $5 from Acorns</ion-label>
  </ion-item>
</ion-content>
