<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar>
        <img src="../../../assets/headshot.jpeg" alt="Rhett Harrison headshot"/>
      </ion-avatar>
      <ion-label>Rhett Harrison - Software Engineer</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About Me</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            A highly accomplished software engineer working with clients from the government and private sector to
            develop highly proficient and well-designed software solutions.
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            I also develop free and open source software in my free time. Check out my <a
            href="https://github.com/reharri7">GitHub</a> profile to see some of my work.
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

<!--  <ion-card>-->
<!--    <ion-card-header>-->
<!--      <ion-card-title>Work</ion-card-title>-->
<!--    </ion-card-header>-->
<!--    <ion-card-content>-->

<!--    </ion-card-content>-->
<!--  </ion-card>-->

<!--  <ion-card>-->
<!--    <ion-card-header>-->
<!--      <ion-card-title><h1>Skills</h1></ion-card-title>-->
<!--    </ion-card-header>-->

<!--    <ion-card-content>-->
<!--      <ion-list>-->
<!--        <ion-chip>-->
<!--          <ion-avatar>-->
<!--            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg"-->
<!--                 alt="TypeScript Logo"/>-->
<!--          </ion-avatar>-->
<!--          <ion-label>TypeScript</ion-label>-->
<!--        </ion-chip>-->
<!--        <ion-chip>-->
<!--          <ion-avatar>-->
<!--            <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"-->
<!--                 alt="Angular Logo"/>-->
<!--          </ion-avatar>-->
<!--          <ion-label>Angular</ion-label>-->
<!--        </ion-chip>-->
<!--        <ion-chip>-->
<!--          <ion-avatar>-->
<!--            <img src="https://upload.wikimedia.org/wikipedia/commons/5/5d/Duke_%28Java_mascot%29_waving.svg"-->
<!--                 alt="Java Duke Logo"/>-->
<!--          </ion-avatar>-->
<!--          <ion-label>Java</ion-label>-->
<!--        </ion-chip>-->
<!--        <ion-chip>-->
<!--          <ion-avatar>-->
<!--            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Original_Ferris.svg" alt="Ferris Rust"/>-->
<!--          </ion-avatar>-->
<!--          <ion-label>Rust</ion-label>-->
<!--        </ion-chip>-->
<!--      </ion-list>-->
<!--    </ion-card-content>-->
<!--  </ion-card>-->
</ion-content>
