ion-item {
  max-width: 60%;
  margin: .5rem auto;
  border-radius: 30px;
  opacity: .733;
}
ion-label {
  text-align: center;
  white-space: normal !important;
  text-overflow: unset !important;
}
ion-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
ion-text {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}
ion-chip {
  margin: 0 auto;
  border-radius: 30px;
  padding: 0 1rem;
}
a {
  text-decoration: none;
}
