<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Rhett Harrison
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Rhett Harrison headshot" src="../../assets/headshot.jpeg"/>
    <ion-card-header>
      <ion-card-title><h1>About Me</h1></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text style="font-size: large">
        I am a highly accomplished software engineer and the President of CodeDevils at Arizona State University. I am
        currently
        pursuing a Bachelor's Degree in Software Engineering at Arizona State University Online. I have been working
        with JavaScript technologies since 2018, but have
        a passion for many other languages and technologies including Java and Rust. I am a full-stack developer, but I
        have a particular interest in backend development.
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title><h1>Skills</h1></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-chip>
        <ion-avatar>
          <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg" alt="TypeScript Logo"/>
        </ion-avatar>
        <ion-label>TypeScript</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-avatar>
          <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg" alt="Angular Logo"/>
        </ion-avatar>
        <ion-label>Angular</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-avatar>
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/5d/Duke_%28Java_mascot%29_waving.svg" alt="Java Duke Logo"/>
        </ion-avatar>
        <ion-label>Java</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-avatar>
          <img src="https://upload.wikimedia.org/wikipedia/commons/0/0f/Original_Ferris.svg" alt="Ferris Rust"/>
        </ion-avatar>
        <ion-label>Rust</ion-label>
      </ion-chip>
      <ion-chip>
        <ion-label>SpringBoot</ion-label>
      </ion-chip>

    </ion-card-content>
  </ion-card>
</ion-content>
